#input {
    border-radius: 10px;
}

#window {
    border-radius: 10px;
}

#entry {
    background-color: transparent;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 40px;
    margin: 2px;
}

#entry:selected {
    outline-color: rgba(254, 254, 254, 0.3);
    background-color: #0067e6;
    background-image: linear-gradient(to bottom, rgb(0,198,255), rgb(0,114,255));
    box-shadow: 0 0 5px rgba(0, 198, 255, 0.98);
}

#text:selected {
    background-color: transparent;
}

#img:selected {
    background-color: transparent;
}
